<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand navbar-tittle">Calculadora de Índice Masa Corporal</a>
</nav>

<div class="jumbotron container-xl">
  <h2 class="display-4">BIENVENIDOS</h2>
  <div class="form-group">
    <div class="form-group has-danger">
      <div class="form-group has-danger">
        <h5><label class="form-control-label">Ingrese su usuario</label></h5>
      </div>
      <div class="form-group has-danger">
        <h5><label class="form-control-label">Ingrese su contraseña</label></h5>
      </div>
    </div>
  </div>
</div>
