

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Calcular Índice de Masa Corporal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><button data-toggle="modal"
                                          data-target= "#abrirIniciar" type="button" class="btn btn-primary btn-lg btn-block" *ngIf="this.btnNavbar">Iniciar Sesión</button>
      </li>
      <li class="nav-item"><button data-toggle="modal"
                                   data-target= "#abrirRegistro" type="button" class="btn btn-primary btn-lg btn-block" *ngIf="this.btnNavbar">Regístrarse</button>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron container-xl">
  <h2 class="display-4">Ingrese sus datos</h2>
  <div class="form-group">
    <div class="form-group has-danger">
      <h5><label class="form-control-label">Genero (Femenino/Masculino)</label></h5>
      <div class="custom-control custom-radio">
        <input [(ngModel)]="generoM" type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">Femenino</label>
      </div>
      <div class="custom-control custom-radio">
        <input [(ngModel)]="generoF" type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Masculino</label>
      </div>
    </div>

    <div class="form-group has-danger">
      <h5><label class="form-control-label">Estatura (Metros)</label></h5>
      <input [(ngModel)]="estatura" type="text" class="form-control">
    </div>
    <div class="form-group has-danger">
      <h5><label class="form-control-label">Peso (Kilogramos)</label></h5>
      <input [(ngModel)]="peso" type="text" class="form-control">
    </div>

    <div class="form-group has-danger">
      <h5><label class="form-control-label">Edad (Años)</label></h5>
      <input [(ngModel)]="edad" type="text" class="form-control">
    </div>
    <button data-toggle="modal" (click)="imcresultado()"
            data-target= "#abrirCalcular" type="button" class="btn btn-primary btn-lg btn-block">Calcular el IMC</button>
    <button data-toggle="modal" (click)="historial()"
            data-target= "#abrirHistorial" type="button" class="btn btn-primary btn-lg btn-block" *ngIf="this.btnHistorial">Historial</button>
  </div>
</div>

<div class="modal" id = "abrirRegistro" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Regístrarse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div>
        <form>
          <div class="modal-body">
              <label for="email">Correo Electronico</label>
              <input [(ngModel)]="this.usuario.username" name="username" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="email@gmail.com">
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
          </div>
          <div class="modal-body">
              <label for="password1">Contraseña</label>
              <input [(ngModel)]="this.usuario.password" name="password" type="password" class="form-control" id="password1">
            </div>
          <div class="modal-body">
            <button (click)="registrarse()" type="button" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" id = "abrirIniciar" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Iniciar Sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div>
        <form>
          <div class="modal-body">
            <label for="correoElectronico">Correo Electronico</label>
            <input [(ngModel)]="username" name="username" type="email" class="form-control" id="correoElectronico" aria-describedby="emailHelp" placeholder="email@gmail.com">
          </div>
          <div class="modal-body">
            <label for="password1">Contraseña</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="contraseña">
          </div>
          <div class="modal-body">
            <button (click)="login()" type="button" class="btn btn-primary">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal" id = "abrirCalcular" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resultados de IMC</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>Peso: {{peso}} <br> Altura: {{estatura}}<br> IMC: {{imc}}</p>
      </div>
      <div class="modal-body">
        <p>Índice de Masa Corporal<br>Peso (kg) / Estatura (m)²</p>
      </div>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">IMC</th>
          <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
        <td>
          <tr>Menos de 18.4</tr>
          <tr>De 18.5 a 24.9</tr>
          <tr>De 25 a 29.9</tr>
          <tr>De 30 a 34.9</tr>
          <tr>De 35 a 39.9</tr>
          <tr>Más de 40</tr>
        </td>
        <td>
          <tr>Bajo Peso</tr>
          <tr>Normal</tr>
          <tr>Sobre Peso</tr>
          <tr>Grado de Obesidad I</tr>
          <tr>Grado de Obesidad II</tr>
          <tr>Grado de Obesidad III</tr>
        </td>
        </tbody>
      </table>

      <div class="modal-body">
        <p>IMC Ideal según tu Edad y Peso Ideal según tu Estatura</p>
      </div>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">  IMC</th>
          <th scope="col">  Años</th>
          <th scope="col">  Kilogramos</th>
          <th scope="col">  Metros</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{imcIdeal}}</td>
          <td>{{edad}}</td>
          <td>{{pesoIdeal}}</td>
          <td>{{estatura}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id = "abrirHistorial" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">n
        <h5 class="modal-title">Historial</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Estatura</th>
          <th scope="col">Peso</th>
          <th scope="col">Edad</th>
          <th scope="col">IMC</th>

        </tr>
        </thead>
        <tbody *ngFor="let persona of personas">

        <td>
          <tr>{{persona.estaturaPersona}}</tr>
        </td>
        <td>
          <tr>{{persona.pesoPersona}}</tr>
        </td>
        <td>
          <tr>{{persona.edadPersona}}</tr>
        </td>
        <td>
          <tr>{{persona.imcPersona}}</tr>
        </td>
        </tbody>
      </table>
    </div>
  </div>
</div>

